.upload-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .custom-file-upload:hover {
    background-color: #e0e0e0;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  